<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Антиплагиат работ</title>
    <link rel="stylesheet" href='{% static "css/antiplag.css" %}'>
</head>

</head>
    <header class="header">
        <div class="wrapper">
            <a href="../admin" class="button_1">
                <img src="{% static 'images/Group 32.png' %}" alt="back" class="img">
            </a>
            <a href="/" class="button">
                <img src="{% static 'images/Логаут.png' %}" alt="back" class="img_1">
            </a>
        </div>
    </header>

    {% if work != '' or error != '' %}
    <p class="course">
        Курс: {{ about.0 }}
    </p>
    <p class="subject">
        Предмет: {{ about.1 }}
    </p>
    <p class="number">
        Номер: {{ about.2 }}
    </p>
    <p class="variant">
        Вариант: {{ about.3 }}
    </p>
    {% endif %}

    <div class="filter">
        <form method="POST">
            {% csrf_token %}
            <input required type="submit" name="btn_ant" class="filter_button" value="Антиплагиат">

            <select required name="course" class="filter_grade">
                <option selected value=''>Курс</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <select required name="subject" class="filter_subject">
                <option selected value=''>Предмет</option>
                <option value="ОП">ОП</option>
                <option value="ВВПД">ВВПД</option>
            </select>

            <input required type="text" name="number" class="filter_number" placeholder="Номер практической">
            <input required type="text" name="variant" class="filter_var" placeholder="Вариант">
        </form>
        <p class="error">{{ error }}</p>
    </div>


    <div class="table_container">
        {% if work != '' %}
        <p class="left_table_text">Две самые схожие работы:</p>
        <p class="percentage">{{ work.0 }}%</p>
        <table border="1" cellspacing="0" class="table_1">
            <div>
                <tr>
                    <th class="name_column" style="font-family: Arial, Helvetica, sans-serif;">{{work.3.first_name}} {{work.3.last_name}}({{work.3.username}})</th>
                    <th class="name_column" style="font-family: Arial, Helvetica, sans-serif;">{{work.4.first_name}} {{work.4.last_name}}({{work.4.username}})</th>
                </tr>
                <tr>
                    <td>
                        <pre>{{ work.1.text_code }}</pre>
                    </td>
                    <td>
                        <pre>{{ work.2.text_code }}</pre>
                    </td>
                </tr>
            </div>
        </table>
    </div>
    {% endif %}
    
    {% if all %}
    <p class="right_table_text">Топ 5 похожих работ</p>
    <table border="1" cellspacing="0" class="table">
        <div class="TH">
            <tr>
                <th class="name_column" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;">Студент 1</th>
                <th class="name_column" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;">Процент схожести</th>
                <th class="name_column" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;">Студент 2</th>
            </tr>
            {% for stroke in all %}
            <tr>
                <td height="30" align="center">{{stroke.3.first_name}} {{stroke.3.last_name}}({{stroke.3.username}})</td>
                <td align="center" style="color: #6675df;">{{ stroke.0 }}%</td>
                <td align="center">{{stroke.4.first_name}} {{stroke.4.last_name}}({{stroke.4.username}})</td>
            </tr>
            {% endfor %}
        </div>
    </table>
    {% endif %}

</header>

</html>