{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href='{% static "css/students.css" %}'>
	<title>Профили студентов</title>
</head>

<header class="header">
    <div class="wrapper">
        <a href="../admin" class="button_1">
            <img src="{% static 'images/Group 32.png' %}" alt="back" class="img">
        </a>
        <a href="/" class="button">
            <img src="{% static 'images/Логаут.png' %}" alt="back" class="img_1">
        </a>
    </div>
</header>


<div class="filter">
    <form method="POST">
        {% csrf_token %}
        <input required type="submit" name="btn_search_1" class="filter_button_1" value="Найти">
        <input required type="text" name="username" class="filter_login" placeholder=" Логин студента">
    </form>
    <form method="POST">
        {% csrf_token %}
        <input required type="submit" name="btn_search_2" class="filter_button_2" value="Найти">
        <input required type="text" name="first_name" class="filter_first_name" placeholder=" Имя студента">
        <input required type="text" name="last_name" class="filter_last_name" placeholder=" Фамилия студента">
    </form>
</div>
{% if error == "Пользователь не найден" %}
    <p class="error">Пользователь не найден</p>
{% endif %}


{% if user != '' %}
    <body>
        <div class="form-block__item">
            <img src="{% static 'images/student.png' %}" alt="photo" style="height: 193px; margin-right: 10px;">
            <div class="form-block__inputs">
                <p style="margin-bottom: 11px;">Имя: {{ user.first_name }}</p>
                <p style="margin-bottom: 11px;">Фамилия: {{ user.last_name }}</p>
                <p style="margin-bottom: 11px;">Курс: {{ mine_data.course }}</p>
                <p style="margin-bottom: 11px;">Вариант по ВВПД: {{ mine_data.variant_vvpd }}</p>
                <p>Вариант по ОП: {{ mine_data.variant_op }}</p>
            </div>
        </div>

        <p class="name_table">Выполненные практические работы</p>
        <div class="div_table">
            <table border="1" cellspacing="0" class="TABLE_profile">
                <div class="TH">
                    <tr>
                        <th class="name_column_profile" height="47">ID</th>
                        <th class="name_column_profile">Курс</th>
                        <th class="name_column_profile">Название предмета</th>
                        <th class="name_column_profile">Номер лабораторной работы</th>
                        <th class="name_column_profile">Вариант</th>
                    </tr>
                    {% for stroke in mine_works %}
                    <tr>
                        <td height="47" align="center" style="color: blue;"><a href="../test/{{stroke.practical.id}}" style="color:blue">{{ stroke.practical.id }}</a></td>
                        <td align="center">{{ stroke.course }}</td>
                        <td align="center">{{ stroke.subject }}</td>
                        <td align="center">{{ stroke.number }}</td>
                        <td align="center">{{ stroke.variant }}</td>
                    </tr>
                    {% endfor %}
                </div>
            </table>
            <p style="margin-bottom: 35px;"> </p>
        </div>

    </body>
{% endif %}


</html>